
html, body {
    background-color: #282c34 !important;
}

.bg-white {
    background-color: #282c34 !important;
}

.usertext {
    color: #fff !important;
}

.card {
    background-color: #282c34 !important;
}

.breadcrumb-item,
.breadcrumb-item a {
    color: #fff !important;
}

#region-main {
    background-color: #282c34 !important;
}

.accordion-content {
    background-color: #282c34 !important;
}

.accordion-content button {
    color: #fff !important;
}

.list-group-item {
    background-color: #282c34 !important;
}

.nameitemblock,
.list-group-item {
    color: #fff !important;
}

.media i::before {
    background-color: #fff !important;
}

.list-group-item i::before {
    background-color: #fff !important;
}


#nav-drawer, #page {
    background-color: #000 !important;
}

.navbar.fixed-top {
    border: none;
}

.day-number {
    color: #fff !important;
}

div {
    color: #fff !important;
}

th, td {
    color: #fff !important;
}

.submissionstatussubmitted, .earlysubmission {
    color: #282c34 !important;
}

.formulation {
    background-color: #282c34 !important;
}

.info {
    background-color: #282c34 !important;
}

table.quizreviewsummary th.cell{
    background-color: #373e48 !important;
}

table.quizreviewsummary td.cell{
    background-color: #282c34 !important;
}

nav.navbar .navbar-brand+.navbar-nav>.nav-item .nav-link {
    background-color: #282c34 !important;
}

body nav.navbar .navbar-brand+.navbar-nav>.nav-item .nav-link:hover{
    background-color: #373e48 !important;
}

#nav-drawer .list-group div.list-group-item:hover .media .media-body {
    color: inherit !important;
}

body a:hover {
    color: #58a4b7 !important;
}